* {
	box-sizing: border-box;
	
}
h2{
  margin: 0px;
  text-align: center;
  color: green;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

 /* Add padding to containers */ 
.container {
  position: absolute; 
  left:30%; 
  top:55px;
  width: 450px;
  height:550px; 
  border: 2px grey;
  padding: 10px;
  box-shadow: 5px 10px 10px 10px #888888;
}

/* Full-width input fields */
input[type=text], input[type=password],input[type=number] {
  width:75%;
  height:15%;
  padding:10px;
  margin:5px;
  display: inline-block;
  border: solid 	gainsboro;
  border-width: 1px;
  
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.alertmessage{
  color: red;
  margin:1px;
  font-size:8px;
}
.signup{
  margin-top:-20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.flex-container{
  display: flex;
}
.alert{
  color:red;
  
}