<h1>PROFILE</h1>
<div class="container">
<!-- <img src="/home/parushi/Documents/pro4/avatar.png" alt="Avatar" style="width:200px">
     -->
     
<form [formGroup]="profileForm3" (ngSubmit)="onsubmit(profileForm3.value)">
  
    <div style="padding-left:40%"><img src="http://www.clker.com/cliparts/b/1/f/a/1195445301811339265dagobert83_female_user_icon.svg.med.png" height="100px"></div>
   <div class="flex-container">
   <div class= "colm-1">
    <label for="fname"><b>FullName</b></label><br>
    <input type="text" formControlName="fName" required>
      <br>
    
    <label for="email"><b>Email</b></label><br>
    <input type="text" formControlName="email" placeholder="Enter Email" name="email" required>
    <br>
    
    <label for="pno"><b>Contact</b></label><br>
    <input type="number" formControlName="pno" name="pno" required>
    </div>
    <div class="colm-2">
    <label for="address"><b>Address</b></label><br>
    <input type="text" formControlName="address" name="address" required>
    <br>
    <label for="med"><b>Medical-History</b></label><br>
		<input type="text" formControlName="med" name="med" required>
		<br>
    <br><br>
   <div style="text-align: center"> <button type="submit" class="registerbtn" >Update</button></div>
  </div>
  </div>
 
  
</form>
</div>


