ul{ 
  border: 1px solid rgb(128, 128, 128); 
  border-radius: 3px; 
  padding: 7px; 
  margin-bottom: 30px; 
  width: 70%; 
  margin-left: 7.3%; 
   float: left; 
  
  } 
  #s{ 
  float: right; 
  color: red ; 
   font-style: bold;  
  font-weight: 20px; 
  } 
  #date{ 
  color:gray; 
  float:top; 
  } 
  #name{ 
  font-size: 30px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  color:#566573 
  } 
  #add{ 
  color: #707B7C 
  }
  .container{
    position: absolute; 
    right:350px; 
    top:200px;
    width: 600px;
    height:500px; 

  border: 2px grey;
  padding: 10px;
  box-shadow: 5px 10px 10px 10px #888888;
  }
  .btn success{
    color:green;
  }