
<div class=container>
<button class="btn" style="color:yellowgreen;background-color:white;" (click)=currentflag()>UPCOMING </button> 

<button class="btn" style="color:yellowgreen;background-color:white;" (click)=showpast()>PAST</button> 
<br> 
<!-- to show current bookings -->
<div class="box"> 
<div class="data" *ngIf="cflag"> 

<ul *ngFor="let book of detailcurrent"> 
<li id="date">{{book.date}}<span id="s">{{book.status}}</span></li> 
<li id="name">{{book.name}}</li> 
<li id="add">{{book.address}}</li> 
</ul> 

</div> 
</div> 
<!-- to show past bookings -->
<div class="box"> 
<div class="data" *ngIf="pflag"> 
<ul *ngFor="let past of detailpast"> 
<li id="date">{{past.date}}<span id="s">{{past.status}}</span></li> 
<li id="name">{{past.name}}</li> 
<li id="add">{{past.address}}</li> 
</ul> 

</div> 
</div>
</div>
 